### Prueba de limpieza partiendo el dataframe por Estación

In [18]:
import pandas as pd

In [19]:
dataCompleto = pd.read_csv('C:/Users/javie/Documents/ProyectoIABD25/ProyectoContaminaci-n/Proyecto\Ingesta/ESTACIONES_COMBINADAS_NO_LIMPIO/estaciones_combinadas_NO_LIMPIO.csv', decimal=",")
dataCompleto

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\2300484987.py:1: SyntaxWarning: invalid escape sequence '\I'
  dataCompleto = pd.read_csv('C:/Users/javie/Documents/ProyectoIABD25/ProyectoContaminaci-n/Proyecto\Ingesta/ESTACIONES_COMBINADAS_NO_LIMPIO/estaciones_combinadas_NO_LIMPIO.csv', decimal=",")

,COD_ESTACION,NOM_ESTACION,FECHA,HORA,SO2,CO,NO,NO2,NOx,O3,...,BkFA,Cd,DahA,FA,HMN,H2S,IcdP,Ni,Pb,PST
0,3065006,ELX - AGROALIMENTARI,2023-01-01,0,4,"0,1",1,14,14,30,...,-,-,-,-,-,-,-,-,-,-
1,3065006,ELX - AGROALIMENTARI,2023-01-01,1,4,"0,1",1,18,18,29,...,-,-,-,-,-,-,-,-,-,-
2,3065006,ELX - AGROALIMENTARI,2023-01-01,2,4,"0,1",1,11,11,33,...,-,-,-,-,-,-,-,-,-,-
3,3065006,ELX - AGROALIMENTARI,2023-01-01,3,4,"0,1",1,10,10,32,...,-,-,-,-,-,-,-,-,-,-
4,3065006,ELX - AGROALIMENTARI,2023-01-01,4,4,"0,1",1,7,7,36,...,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48235,3133002,TORREVIEJA,2024-11-30,19,-,-,16,59,83,6,...,-,-,-,-,-,-,-,-,-,-
48236,3133002,TORREVIEJA,2024-11-30,20,-,-,35,57,111,3,...,-,-,-,-,-,-,-,-,-,-
48237,3133002,TORREVIEJA,2024-11-30,21,-,-,21,47,79,3,...,-,-,-,-,-,-,-,-,-,-
48238,3133002,TORREVIEJA,2024-11-30,22,-,-,13,30,49,5,...,-,-,-,-,-,-,-,-,-,-
48239,3133002,TORREVIEJA,2024-11-30,23,-,-,9,21,35,7,...,-,-,-,-,-,-,-,-,-,-

In [20]:
dataElche = dataCompleto[dataCompleto["NOM_ESTACION"] == "ELX - AGROALIMENTARI"]
dataTorrevieja = dataCompleto[dataCompleto["NOM_ESTACION"] == "TORREVIEJA"]
dataOrihuela = dataCompleto[dataCompleto["NOM_ESTACION"] == "ORIHUELA"]

In [21]:
def limpiezaAutomaticaPorEstacion(dataFrame):
    dataFrame.replace("-", pd.NA, inplace=True)
    columnasImportantes = [
        'COD_ESTACION', 'NOM_ESTACION', 'FECHA', 'HORA', 'SO2', 'CO', 'NO', 'NO2',
    'NOx', 'O3',
    ]
    
    dataFrame = dataFrame[columnasImportantes]
    
    columnas_con_nulos = ['SO2', 'NO', 'NO2', 'NOx', 'O3']
    
    for columna in columnas_con_nulos:
            dataFrame[columna] = pd.to_numeric(dataFrame[columna], errors='coerce')
            
    for columna in columnas_con_nulos:
        dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
        
    dataFrame = dataFrame.dropna(axis = 1, thresh = 0.5 * len(dataFrame) * 0.5)
        
    return dataFrame

In [22]:
limpiezaAutomaticaPorEstacion(dataElche)

C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame.replace("-", pd.NA, inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna] = pd.to_numeric(dataFrame[columna], errors='coerce')
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)

,COD_ESTACION,NOM_ESTACION,FECHA,HORA,SO2,CO,NO,NO2,NOx,O3
0,3065006,ELX - AGROALIMENTARI,2023-01-01,0,4.0,"0,1",1.0,14.0,14.0,30.0
1,3065006,ELX - AGROALIMENTARI,2023-01-01,1,4.0,"0,1",1.0,18.0,18.0,29.0
2,3065006,ELX - AGROALIMENTARI,2023-01-01,2,4.0,"0,1",1.0,11.0,11.0,33.0
3,3065006,ELX - AGROALIMENTARI,2023-01-01,3,4.0,"0,1",1.0,10.0,10.0,32.0
4,3065006,ELX - AGROALIMENTARI,2023-01-01,4,4.0,"0,1",1.0,7.0,7.0,36.0
...,...,...,...,...,...,...,...,...,...,...
46795,3065006,ELX - AGROALIMENTARI,2024-11-30,19,4.0,"0,1",2.0,5.0,7.0,58.0
46796,3065006,ELX - AGROALIMENTARI,2024-11-30,20,4.0,"0,1",2.0,6.0,8.0,61.0
46797,3065006,ELX - AGROALIMENTARI,2024-11-30,21,4.0,"0,1",2.0,9.0,11.0,55.0
46798,3065006,ELX - AGROALIMENTARI,2024-11-30,22,4.0,"0,1",1.0,16.0,18.0,38.0
46799,3065006,ELX - AGROALIMENTARI,2024-11-30,23,4.0,"0,1",2.0,18.0,21.0,25.0

In [23]:
limpiezaAutomaticaPorEstacion(dataTorrevieja)

C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame.replace("-", pd.NA, inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna] = pd.to_numeric(dataFrame[columna], errors='coerce')
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)

,COD_ESTACION,NOM_ESTACION,FECHA,HORA,NO,NO2,NOx,O3
1488,3133002,TORREVIEJA,2023-01-01,0,5.523248,11.422031,19.867634,3.0
1489,3133002,TORREVIEJA,2023-01-01,1,5.523248,11.422031,19.867634,6.0
1490,3133002,TORREVIEJA,2023-01-01,2,5.523248,11.422031,19.867634,5.0
1491,3133002,TORREVIEJA,2023-01-01,3,5.523248,11.422031,19.867634,4.0
1492,3133002,TORREVIEJA,2023-01-01,4,5.523248,11.422031,19.867634,3.0
...,...,...,...,...,...,...,...,...
48235,3133002,TORREVIEJA,2024-11-30,19,16.000000,59.000000,83.000000,6.0
48236,3133002,TORREVIEJA,2024-11-30,20,35.000000,57.000000,111.000000,3.0
48237,3133002,TORREVIEJA,2024-11-30,21,21.000000,47.000000,79.000000,3.0
48238,3133002,TORREVIEJA,2024-11-30,22,13.000000,30.000000,49.000000,5.0
48239,3133002,TORREVIEJA,2024-11-30,23,9.000000,21.000000,35.000000,7.0

In [24]:
dataTorrevieja

,COD_ESTACION,NOM_ESTACION,FECHA,HORA,SO2,CO,NO,NO2,NOx,O3,...,BkFA,Cd,DahA,FA,HMN,H2S,IcdP,Ni,Pb,PST
1488,3133002,TORREVIEJA,2023-01-01,0,<NA>,<NA>,<NA>,<NA>,<NA>,3,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1489,3133002,TORREVIEJA,2023-01-01,1,<NA>,<NA>,<NA>,<NA>,<NA>,6,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1490,3133002,TORREVIEJA,2023-01-01,2,<NA>,<NA>,<NA>,<NA>,<NA>,5,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1491,3133002,TORREVIEJA,2023-01-01,3,<NA>,<NA>,<NA>,<NA>,<NA>,4,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1492,3133002,TORREVIEJA,2023-01-01,4,<NA>,<NA>,<NA>,<NA>,<NA>,3,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48235,3133002,TORREVIEJA,2024-11-30,19,<NA>,<NA>,16,59,83,6,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
48236,3133002,TORREVIEJA,2024-11-30,20,<NA>,<NA>,35,57,111,3,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
48237,3133002,TORREVIEJA,2024-11-30,21,<NA>,<NA>,21,47,79,3,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
48238,3133002,TORREVIEJA,2024-11-30,22,<NA>,<NA>,13,30,49,5,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
48239,3133002,TORREVIEJA,2024-11-30,23,<NA>,<NA>,9,21,35,7,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [25]:
conjuntoDatos = [dataElche, dataTorrevieja, dataOrihuela]

In [26]:
for dataFrame in conjuntoDatos:
    limpiezaAutomaticaPorEstacion(dataFrame)

C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame.replace("-", pd.NA, inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna] = pd.to_numeric(dataFrame[columna], errors='coerce')
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame.replace("-", pd.NA, inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna] = pd.to_numeric(dataFrame[columna], errors='coerce')
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame.replace("-", pd.NA, inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna] = pd.to_numeric(dataFrame[columna], errors='coerce')
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)
C:\Users\javie\AppData\Local\Temp\ipykernel_9696\3565068501.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame[columna].fillna(dataFrame[columna].mean(), inplace=True)

In [27]:
import json

In [28]:
def dataFrametoJSON(dataFrame, nombre):
    json_object = dataFrame.to_json(orient='records')
    filename = f"{nombre}-LIMPIO.json"
    with open(filename, 'w') as file:
        file.write(json_object)
    print(f"Archivo guardado como {filename}")

In [29]:
dataFrametoJSON(dataElche, "Elche")
dataFrametoJSON(dataOrihuela, "Orihuela")
dataFrametoJSON(dataTorrevieja, "Torrevieja")

Archivo guardado como Elche-LIMPIO.json
Archivo guardado como Orihuela-LIMPIO.json
Archivo guardado como Torrevieja-LIMPIO.json

In [30]:
dataElche.to_csv("Elche-Limpio.csv", sep=";", decimal=",")
dataOrihuela.to_csv("Orihuela-Limpio.csv", sep=";", decimal=",")
dataTorrevieja.to_csv("Torrevieja-Limpio.csv", sep=";", decimal=",")